<template>
  <component :is="layout">
    <slot />
  </component>
</template>

<script>
import NoneLayout from "./NoneLayout.vue";
import { shallowRef, watch } from "vue";
import { useRoute } from "vue-router";

export default {
  name: "AppLayout",
  setup() {
    const layout = shallowRef(NoneLayout);
    const route = useRoute();

    watch(
      () => route.meta,
      async (meta) => {
        try {
          const component = await require(`@/layouts/${meta.layout}.vue`);
          layout.value = component?.default || NoneLayout;
        } catch (e) {
          layout.value = NoneLayout;
        }
      }
    );

    return { layout };
  },
};
</script>